.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary);
    align-items: center;
}

.footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    font-size: medium;
    gap: 10px;
    background-color: none;
}

.dot {
   font-size: 0.9em;
    line-height: 1;
    color: rgba(0, 0, 0, 0.247);
}

a {
    color: black;
}

.footerContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    gap: 20px;    
}



.infoLink:hover{
    border-bottom: solid 1px;
}

.contactLink{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s;
    border-radius: 100%;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLink::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--darkhover);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 0;
}

.contactLink:hover::before {
  opacity: 1;
}


.footerIconLabel{
    color: rgba(0, 0, 0, 0.247);
}

.mobileContactLink {
    font-size: small;
}

.contactLink.variable {
    font-size: small;
}



@media only screen and (max-width: 1024px){
     
    .footerInfo.variable{
        display: none;
    }

    .footer.variable{
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
        z-index: 100000;
        background-color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px -1px 0px;
    }
}

@media only screen and (max-width: 768px){
    .footer.constant {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .footerInfo{
        flex-wrap: wrap;
        font-size: 14px;
    }

    .dot{
        display: none;
    }
}
